{% extends "base.html.twig" %}

{% block title %}Contact Us{% endblock %}
{% block description %}Contact information for the Castle Point Anime Convention and its staff{% endblock %}

{% block carousel %}
    <div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
    {% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <p class="text-justify text-indent">
        For all general purpose questions, please feel free to contact <a href="mailto:info@castlepointanime.com">info@castlepointanime.com</a>.
        To contact a specific department, please refer to the list below and we will get back to you as soon as possible.
    </p>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Artist Alley: <a href="mailto:artists@castlepointanime.com">artists@castlepointanime.com</a></li>
                <li>Cosplay: <a href="mailto:cosplay@castlepointanime.com">cosplay@castlepointanime.com</a></li>
                <li>Dealers Room: <a href="mailto:dealers@castlepointanime.com">dealers@castlepointanime.com</a></li>
                <li>Guest & Industry Relations: <a href="mailto:guests@castlepointanime.com">guests@castlepointanime.com</a></li>
                <li>Panels & Workshops: <a href="mailto:panels@castlepointanime.com">panels@castlepointanime.com</a></li>
                <li>Press Relations: <a href="mailto:press@castlepointanime.com">press@castlepointanime.com</a></li>
                <li>Publicity: <a href="mailto:publicity@castlepointanime.com">publicity@castlepointanime.com</a></li>
                <li>Registration: <a href="mailto:registration@castlepointanime.com">registration@castlepointanime.com</a></li>
                <li>Webmaster: <a href="mailto:webmaster@castlepointanime.com">webmaster@castlepointanime.com</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <p><h3>Also feel free to contact us via social media:</h3></p>
            <p><h3><a href="https://www.facebook.com/castlepointanime"><i class="fa fa-fw fa-facebook-square"></i> Facebook</a></h3></p>
            <p><h3><a href="https://twitter.com/CastlePointCon"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a></h3></p>
        </div>
    </div>
{% endblock %}
