{% extends "base.html.twig" %}

{% block title %}Directions{% endblock %}
{% block description %}Directions on coming to and parking at the Castle Point Anime Convention in Hoboken, NJ{% endblock %}

{% block carousel %}
    <div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
    {% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <p><h1 id="location">Convention Location</h1></p>
            <p class="text-justify text-indent">
                Castle Point Anime Convention takes place on the Stevens Institute of Technology campus.
                The area is very freindly to public transportation.
                <strong>Please note that parking is extremely limited;</strong>
                if it is possible for you, it is highly recommended you take public transportation.
                A <a href="https://www.stevens.edu/sit/maps/campus_map.cfm">campus map</a> is available on the Stevens Institute website.
                It is generally recommended for attendees to enter campus on foot from the south side.
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1712.2603379530146!2d-74.02637107885415!3d40.74366351414426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259de94dced4f%3A0xd4c9d146086e72ae!2sStevens+Institute+of+Technology!5e0!3m2!1sen!2sus!4v1440794268776"
                    width="100%"
                    height="450"
                    frameborder="0"
                    style="border:0"
                    allowfullscreen="true">
            </iframe>
            <hr> {# ============================================================ #}
            <p><h1 id="public">Public Transportation Routes</h1></p>
            <p>
                There is a large variety of public transportation available to Hoboken.
                A detailed outline of available transporation options is available on the <a href="http://www.hobokennj.org/departments/transportation-parking/transit-in-hoboken/">hobokennj.org website</a>.
                We have outlined a few commonly used examples below.
            </p>
            <h3 id="public-nyc">From New York City</h3>
            <ul>
                <li>
                    <strong>Bus:</strong>
                    Take <a href="http://www.njtransit.com">NJ Transit</a> Bus No. 126 from the Port Authority Bus Terminal at 8th Ave. and 40th Street.
                    The bus goes directly to Hoboken and travels south on Washington Street, stopping on even numbered streets.
                    Please exit at 6th Street for easiest access.
                    Campus will be toward the east (across Washington Street).
                </li>
                <li>
                    <strong>Ferry:</strong>
                    Take a <a href="http://www.nywaterway.com/">NYWaterway ferry</a> from
                        Pier A at Battery Park,
                        Pier 11 on Wall Street in Manhattan,
                        the World Financial Center in Downtown Manhattan,
                        or Pier 78 (weekends only) at West 38th Street and 12th Avenue in Manhattan
                        to the Hoboken South Terminal.
                    From the Hoboken South Terminal, take a local Washington Street bus, taxi, or walk uptown to 6th Street. Campus will be toward the east (turn right).
                    Ferries from Pier 78 also arrive at the Hoboken North Terminal (13th Street).
                    From the Hoboken North Terminal, take a local Washington Street bus, taxi, or walk downtown to 6th Street. Campus will be toward the east (turn left).
                </li>
                <li>
                    <strong>Long Island Rail Road:</strong>
                    You can find the map for the Long Island Rail Road on the <a href="http://web.mta.info/lirr/Timetable/lirrmap.htm">MTA website</a>.
                    Take the train to its stop at Penn Station in Manhattan.
                    From here, you can follow directions for the subway listed below.
                </li>
                <li>
                    <strong>Subway:</strong>
                    Take <a href="http://www.panynj.gov/path/">Port Authority Trans Hudson (PATH)</a> subway toward Hoboken.
                    Stations in NYC are located on 6th Avenue at 33rd, 23rd, 14th, and 9th Streets, and at Christopher Street.
                    Once in Hoboken, take a local Washington Street bus, taxi, or walk uptown to 6th Street. Campus will be toward the east (turn right).
                </li>
            </ul>
            <h3 id="public-else">From Everywhere Else</h3>
            <ul>
                <li>
                    <strong>Airplane:</strong>
                    Use <a href="http://www.panynj.gov/airports/newark-liberty.html">Newark International Airport</a>.
                    Cabs are available from the airport, and the fares are stated at the Airport terminal taxi stand.
                    Please check with the uniformed taxi dispatcher.
                    A complete list of additional <a href="http://www.panynj.gov/airports/ewr-ground-transportation.html">Ground Transportation Services</a> is available.
                    Many of these options will take you to Penn Station, Newark.
                    From there, you can take the PATH train to Grove Street in Jersey City and tranfer to the train for Hoboken.
                </li>
                <li>
                    <strong>Bus:</strong>
                    Many NJ Transit buses have routes that make their way to Hoboken.
                    Please refer to the <a href="http://www.njtransit.com">NJ Transit website</a> to determine how to arrive from your location.
                    Busses running north on Washington Streen stop on odd number streets.
                    Please exit at 5th Street and walk one block north to 6th street for easiest access.
                    Campus will be toward the east (the side of Washington Street you exited the bus on).
                </li>
                <li>
                    <strong>Train:</strong>
                    Many NJ Transit trains have routes that stop in Hoboken.
                    Please refer to the <a href="http://www.njtransit.com">NJ Transit website</a> to determine how to arrive from your location.
                    Additional trains stop at Penn Station, Newark.
                    From there, you can take the PATH train to Grove Street in Jersey City and tranfer to the train for Hoboken.
                </li>
            </ul>
            <hr> {# ============================================================ #}
            <p><h1 id="driving">Driving Directions</h1></p>
            <p>If you must drive to attend Castle Point Anime Convention, feel free to reference the directions we have below.</p>
            <h3 id="drive-nyc">From New York City</h3>
            <ul>
                <li>
                    <strong>Via Lincoln Tunnel:</strong>
                    Upon exiting the tunnel, follow the signs to Hoboken.
                    From the North tube of the tunnel, bear to the extreme right and go through the underpass marked Hoboken.
                    From the South tube bear to exit ramp on left.
                    This places you Southbound on Willow Avenue.
                    Continue over the land bridge into Hoboken.
                    Make a left at 14th Street and then turn right onto Washington Street.
                </li>
                <li>
                    <strong>Via Holland Tunnel:</strong>
                    Make the first right after exiting the tunnel onto Luis Munoz Marin Boulevard.
                    Luis Munoz Marin Boulevard will become Henderson Street.
                    At the end of Henderson Street turn right onto Observer Highway.
                    Turn left onto Washington Street (at the last traffic light).
                </li>
            </ul>
            <h3 id="drive-wnw">From West or North West of Hoboken </h3>
            <ul>
                <li>
                    <strong>Via Interstate 80 from points west of Interstate 287:</strong>
                    Take I-80 East to I-287 South.
                    Take I-287 to Route 24 East.
                    Route 24 East will merge into I-78.
                    Take I-78 East (Express or Local) and follow the directions for "Via Interstate 78".
                </li>
                <li>
                    <strong>Via Interstate 80 from points east of Interstate 287 and West of Interstate 280:</strong>
                    Take I-80 East and merge onto I-280 East at exit number 47A (on the left) toward "The Oranges/Newark".
                    Exit I-280 onto the New Jersey Turnpike North.
                    Take the New Jersey Turnpike to the Lincoln Tunnel exit.
                    Follow signs towards the Lincoln Tunnel but do not enter the tunnel.
                    Exit at the sign marked "Last Exit in New Jersey, Weehawken, Hoboken", and turn right at the second traffic light.
                    This places you Southbound on Park Avenue.
                    Follow signs to Hoboken.
                    At 14th Street in Hoboken turn left and then turn right onto Washington Street.
                </li>
                <li>
                    <strong>Via Interstate 80 from points east of Interstate 280:</strong>
                    Take I-80 East to New Jersey Turnpike South (I-95) and follow directions for "From Northern New Jersey and George Washington Bridge".
                </li>
                <li>
                    <strong>Via Interstate 78:</strong>
                    Take I-78 East to the New Jersey Turnpike.
                    Follow signs to the Holland Tunnel exit 14C.
                    When the turnpike ends, after the Exit 14C toll, make a left at the first traffic light onto Jersey Avenue towards Hoboken.
                    Proceed under the train bridge bearing right onto Newark Street which will become Observer Highway.
                    Turn left onto Washington Street (at the last traffic light).
                </li>
            </ul>
            <h3 id="drive-gwb">From North Jersey & The George Washington Bridge</h3>
            <ul>
                <li>
                    Take the NJ Turnpike (I-95) South to the Lincoln Tunnel (I-495) Exit.
                    Follow signs towards the Lincoln Tunnel and exit before the tunnel at the "Last Exit In New Jersey, Weehawken, Hoboken".
                    Turn right at the second traffic light, this places you Southbound on Park Avenue.
                    Follow signs to Hoboken.
                    At 14th Street in Hoboken turn left and then turn right onto Washington Street.
                </li>
            </ul>
            <h3 id="drive-uny">From Upper NY State</h3>
            <ul>
                <li>
                    Take the New York State Thruway to the Garden State Parkway South to Exit 153 and take Route 3 East towards the Lincoln Tunnel.
                    Exit before the tunnel at the "Last Exit In New Jersey, Weehawken, Hoboken" and turn right at the second traffic light.
                    This places you Southbound on Park Avenue.
                    Follow signs to Hoboken.
                    At 14th Street in Hoboken turn left and then turn right onto Washington Street.
                </li>
            </ul>
            <h3 id="drive-nla">From South West of Hoboken & Newark Liberty Airport</h3>
            <ul>
                <li>
                    Take Route 1&9 North onto the Pulaski Skyway (trucks cannot take the Pulaski Skyway and should remain on Route 1&9 Truck North) and follow signs to Holland Tunnel.
                    After proceeding under the covered portion of State Highway, make a left at the first traffic light onto Jersey Avenue towards Hoboken.
                    Proceed under the train bridge bearing right onto Newark Street which will become Observer Highway.
                    Turn left onto Washington Street (at the last traffic light).
                </li>
            </ul>
            <h3 id="drive-sth">From South of Hoboken</h3>
            <ul>
                <li>
                    <strong>Via the New Jersey Turnpike:</strong>
                    Take the New Jersey Turnpike to Exit 14C and follow signs to the Holland Tunnel.
                    When the turnpike ends, after the Exit 14C toll, make a left at the first traffic light onto Jersey Avenue towards Hoboken.
                    Proceed under the train bridge bearing right onto Newark Street which will become Observer Highway.
                    Turn left onto Washington Street (at the last traffic light).
                </li>
                <li>
                    <strong>Via the Garden State Parkway:</strong>
                    Take the Garden State Parkway to exit 129 toward New Jersey Turnpike.
                    Follow directions for "Via the New Jersey Turnpike".
                </li>
                <li>
                    <strong>If north of Garden State Parkway exit 129 and south of Interstate 78:</strong>
                    Take the Parkway to the I-78 Exit and follow directions for "Via Interstate 78".
                </li>
            </ul>
            <hr> {# ============================================================ #}
            <p><h1 id="parking">Parking</h1></p>
            <p>
                <strong>There is no parking available on the Stevens Institute of Technology campus.</strong>
                Public parking garages are available throughout Hoboken with resonable prices in close proximity to campus.
                <strong>If you decide to park on the street in Hoboken, take note of any parking signs.</strong>
                Parking in 'resident only' spaces, streets scheduled for cleaning, or for longer than the four-hour visitor limit can result in your car being ticketed, booted, or towed.
                We have a listed the municipal parking garages below.
                There are additional parking options listed on the map below as well.
            </p>
            <h3 id="municipal">Municipal Parking Garages</h3>
            <ul>
                <li>
                    <strong>Lot B:</strong>
                    Second Street, between River and Hudson
                </li>
                <li>
                    <strong>Lot D:</strong>
                    215 Hudson Street, between 2nd and 3rd
                </li>
                <li>
                    <strong>Lot G:</strong>
                    315 Hudson Street, between 3rd and 4th
                </li>
            </ul>
            <h3 id="garagemap">Additional Options</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d12091.124670193327!2d-74.03316465000002!3d40.7448405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sparking+garages+in+hoboken!5e0!3m2!1sen!2sus!4v1441899201188"
                width="100%"
                height="400"
                frameborder="0"
                style="border:0"
                allowfullscreen="true">
            </iframe>
        </div>
        <div class="col-md-3">
            <nav class="hidden-sm hidden-xs sidebar-nav" data-spy="affix" data-offset-top="210" data-offset-bottom="0">
                <ul id="sidebar" class="nav nav-stacked">
                    <li><a href="#location">Convention Location</a></li>
                    <li>
                        <a href="#public">Public Transportation Routes</a>
                        <ul class="nav nav-stacked">
                            <li><a href="#public-nyc">From New York City</a></li>
                            <li><a href="#public-else">From Everywhere Else</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#driving">Driving Directions</a>
                        <ul class="nav nav-stacked">
                            <li><a href="#drive-nyc">From New York City</a></li>
                            <li><a href="#drive-wnw">From West or North West of Hoboken</a></li>
                            <li><a href="#drive-gwb">From North Jersey & The George Washington Bridge</a></li>
                            <li><a href="#drive-uny">From Upper NY State</a></li>
                            <li><a href="#drive-nla">From South West of Hoboken & Newark Liberty Airport</a></li>
                            <li><a href="#drive-sth">From South of Hoboken</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#parking">Parking</a>
                        <ul class="nav nav-stacked">
                            <li><a href="#municipal">Municipal Parking Garages</a></li>
                            <li><a href="#garagemap">Additional Options</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
