{% extends "base.html.twig" %}

{% block title %}Frequently Asked Questions{% endblock %}
{% block description %}A list of common questions about the Castle Point Anime Convention, how it works, and what it is.{% endblock %}

{% block carousel %}
    <div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
    {% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
    <p><h1>Frequently Asked Questions</h1></p>
    <p class="text-justify text-indent">
        Below is a list of frequently asked questions about CPAC. If your question is not answered below, feel free to
        email us at <a href="mailto:info@castlepointanime.com">info@castlepointanime.com</a>.
    </p>
    {% for typename, type in data.faqs %}
        {% set typename = typename|split('/')|last %}
        <div class="panel-group" id="faqAccordion-{{typename}}" role="tablist" aria-multiselectable="true">
        {% for q in type %}
            {% if loop.index0 == 0 %}
                <p><h2>{{q.data.section}}</h2></p>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading"
                    role="tab"
                    id="heading-{{typename}}-{{loop.index0}}"
                    data-toggle="collapse"
                    data-parent="#faqAccordion-{{typename}}"
                    href="#collapse-{{typename}}-{{loop.index0}}"
                    aria-expanded="false"
                    aria-controls="collapse-{{typename}}-{{loop.index0}}">
                    <h4 class="panel-title" id="item{{loop.index}}">{{loop.index}}. {{q.data.question}} </h4>
                </div>
                <div id="collapse-{{typename}}-{{loop.index0}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{typename}}-{{loop.index0}}">
                    <div class="panel-body">
                        {% include q.template %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
