{% extends "base.html.twig" %}

{% block title %}History and Staff{% endblock %}
{% block description %}Information about the staff and history of the Castle Point Anime Convention, which started in 2008.{% endblock %}

{% block carousel %}
    <div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
    {% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
    <p><h1>History of CPAC</h1></p>
    <p class="text-justify text-indent">
        The Castle Point Anime Convention is organized and operated by the Stevens Anime Club, a
        student organization under the Student Government Association at the Stevens Institute of
        Technology.
    </p>
    <p class="text-justify text-indent">
        All of our staff are students of Stevens Institute of Technology, from our Convention Chair
        all the way down to our gophers and volunteers (with the exception of some alumni
        volunteers). CPAC is not only an event for our attendees to have fun at, but also a learning
        and service opportunity for all staff involved. Because of this we try and make our
        convention as official and complete as we can with the intention of giving attendees the
        best experience possible and our staff real-world experience in event management.
    </p>
    <p><h1>Staff - CPAC 2016</h1></p>
    <div>
    {% set count = 0 %}
    {% for type in data.staff.2016 %}
        {% for person in type | sort %}
            {% if count % 6 == 0 %}
                </div>
                <div class="row" style="margin-top:20px;">
            {% endif %}
            <div class="col-sm-2">
                <div class="staff-entry">
                    <img src="{{person.data.image}}" class="img-responsive center-block img-circle" alt="{{person.data.name}}">
                    <div class="staff-info text-center">
                        <h4>{{person.data.name}}</h4>
                        <h5>{{person.data.position}}</h5>
                    </div>
                </div>
            </div>
            {% set count = count + 1 %}
        {% endfor %}
    {% endfor %}
{% endblock %}
