{% extends "base.html.twig" %}

{% block title %}Policies{% endblock %}
{% block description %}Policies and procedures that are enforced at the Castle Point Anime Convention{% endblock %}

{% block carousel %}
    <div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
    {% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <p><h1>CPAC Policies</h1></p>
            <p><strong>All CPAC staff will be wearing an official staff shirt and will be wearing a clearly visible staff badge with their name and photo on it.</strong></p>
            <p><strong>In case of injury or other emergency, follow all instructions of CPAC staff, convention officials, and police.</strong></p>
            <p>
                Welcome to the Castle Point Anime Convention!
                Whether this is your first CPAC or your eighth, there are some policies and guidelines we all must follow in order to keep the convention safe, sane, and fun.
            </p>
            <p>
                <em>
                    Note: these policies must be followed by everybody.
                    This includes attendees, artists, dealers, staff, security, etc.
                    The rules may only be overridden by both the convention chair or by the Stevens police at their discretion.
                </em>
            </p>
            <p>
                In general, make sure to use common sense, show respect to the other attendees and staff, and to avoid anything that might pose a danger to yourself or others.
                Keep in mind that the Stevens campus is private property, and the local campus police or administration may remove anybody from the convention at their discretion.
            </p>
            <hr> {# ============================================================ #}
            <p><h2 id="general">General Policies</h2></p>
            <p>
                Your admittance to CPAC is dependent upon you receiving a badge from registration and following these policies while anywhere on the Stevens campus or in Stevens building.
                <strong>You must wear your badge at all times at CPAC.</strong>
                Staff and security may ask you to present your badge before entering buildings or certain rooms (such as the dance).
                You must present your badge upon request by any staff member.
            </p>
            <p>
                Lost attendee badges will not be replaced, and must be purchased at full price.
                However, damaged badges and badge holders will be replaced at no charge; just bring your badge to registration.
            </p>
            <p>
                Also, <strong>make sure to keep your bags and belongings with you</strong>.
                CPAC is not responsible for any damaged, lost, or stolen items while on Stevens campus.
                Make sure not to leave valuables unattended.
            </p>
            <hr> {# ============================================================ #}
            <p><h2 id="safety">Staying Safe</h2></p>
            <p><h3 id="disruptive">Disruptive Behavior</h3></p>
            <ul>
                <li>
                    <strong>Mind the flow of traffic and do not obstruct hallways.</strong>
                    Restricted areas are off-limits to attendees and will be labeled with caution tape or signs.
                </li>
                <li>
                    The convention grounds have many great opportunities for photographs.
                    Please respect the grounds.
                    <strong>Do not climb on statues or buildings.</strong>
                    Always be aware that the convention grounds are in the middle of the city of Hoboken, and that there will be traffic nearby.
                </li>
                <li>
                    CPAC is a family friendly event.
                    Do not wear clothing that may be considered lewd or inappropriate in a public setting.
                    No nudity or partial nudity is allowed.
                    Also, no rude or profane clothing or signs are allowed on the convention grounds.
                </li>
                <li>
                    <strong>Smoking is not permitted in any of the convention buildings.</strong>
                    While smoking is permitted outside the buildings, we ask that you respect those around you and dispose of the remnants appropriately.
                </li>
                <li>
                    <strong>Stay hydrated!</strong>
                    CPAC may not be that big, but if you’re standing or walking for a long time (especially in cosplay), it can become tiring.
                    You can be dehydrated without feeling thirsty.
                    Always drink more than you think you need.
                </li>
            </ul>
            <p><h3 id="children">Children and Groups</h3></p>
            <p>
                When traveling in groups or as a family (especially with children), establish a specific place where you will meet up if separated.
                A recommended meetup place is by the information desk, located in the first floor Babbio Atrium.
            </p>
            <p>
                Small children (under the age of ten) must be accompanied by another attendee over the age of sixteen,
                approved by their parent or guardian, at all times.
                <strong>Please take a minute to write emergency contact information on the back of your child’s badge!</strong>
                <em>This is the best way for staff to contact you if your child is found.</em>
                If your child is missing, notify the nearest staff member or security.
            </p>
            <p><h3 id="weapons">Weapons Policy</h3></p>
            <p><em>CPAC considers any device capable of causing injury, or being confused with an object capable of causing injury, a weapon.</em></p>
            <p>
                To ensure a safe and fun environment, CPAC has strict restrictions on such devices within the convention grounds.
                The weapon restrictions must be abided by at all times by convention attendees and will be strictly enforced.
                All weapons and other props are subject to inspection by CPAC safety official at any time.
            </p>
            <p>If you have any questions, please consult the convention information desk or any other Safety official.</p>
            <p><h4>Disallowed Props and Weapons</h4></p>
            <p>The following props and weapons are not allowed on the Stevens campus at any time:</p>
            <ol type="1">
                <li>
                    <strong>Projectile Weapons (or imitations thereof)</strong>, including, but not limited, to
                    <ol type="a">
                        <li>firearms, airsoft guns, water guns/pistols, air rifles and BB and pellet guns, regardless of whether it is functional or not</li>
                        <li>realistic imitations of anything listed in (a)</li>
                        <li>crossbows, dart guns, stun guns, blowguns, and tasers</li>
                    </ol>
                </li>
                <li>
                    <strong>Live Steel</strong>, including, but not limited, to
                    <ol type="a">
                        <li>sharpened and dull swords, knives and other cutting implements</li>
                        <li>throwing stars and shuriken</li>
                        <li>metal armor, including chainmail</li>
                        <li>anything made of metal that can take an edge, regardless of if it is sheathed or dull</li>
                    </ol>
                </li>
                <li>
                    <strong>Real bows and arrows</strong>, or parts of real bows (including both tipped or non-tipped arrows)
                </li>
                <li>
                    <strong>Incendiary Devices and Chemicals</strong> such as smoke bombs, smoke powder, flash bombs, sparklers, and other fireworks
                </li>
                <li>
                    <strong>Flails and Throwing Weapons</strong>, including, but not limited to, nunchaku, sansetsukon, and hard paddles
                </li>
                <li>
                    <strong>Illegal devices</strong> not permitted on the campus of Stevens Institute of Technology, in the city of Hoboken, or in the state of New Jersey
                </li>
                <li>
                    Any item deemed a threat or unsafe at the discretion of CPAC safety or operational staff
                </li>
            </ol>
            <p>The following props/weapons are generally allowed after inspection:</p>
            <ol>
                <li>
                    <strong>Staves, bokken, bo sticks, shinai, and walking canes</strong> made from wood, Styrofoam, or other light-weight material (must be inspected by CPAC security)
                </li>
                <li>
                    <strong>Fake and toy guns</strong> made from a light-weight material that are obviously prop guns and <strong>must have a clearly visible, non-removable orange tip</strong>
                </li>
                <li>
                    <strong>Prop bows</strong>, provided they are strung loose (not taught or tight) with twine, yarn, or another non-functioning material
                </li>
                <li>
                    <strong>Decorative props</strong> with no moving parts, less than seven (7) feet in height, and under fifty (50) pounds deemed not hazardous or obtrusive to other convention attendees.
                </li>
            </ol>
            <p><h4>Weapons Check-in</h4></p>
            <p>
                At check-in, all attendees will be required to show that all weapons abide by the above rules.
                Approved weapons will be marked with fluorescent tape by a security staffer.
                If CPAC staff have doubts as to the safety of any weapon, you will be given the opportunity to check it for pick-up at the convention’s conclusion.
                If you refuse to check a weapon determined to be in violation of the weapon’s policy by CPAC staff, you will be denied entrance to the convention buildings and grounds.
            </p>
            <p><h4>Improper Weapons Behavior</h4></p>
            <p>If at any time, an attendee is observed using an approved or unapproved weapon in the following manner, the weapon will be immediately confiscated without return and the attendee may be evicted from the convention without refund:</p>
            <ul>
                <li>Swinging or otherwise causing obstruction in a public area</li>
                <li>Brandishing any prop gun or firearm outside of a building. All prop guns must be holstered and put away.</li>
                <li>Mock fighting</li>
                <li>Brandishing provocatively or any other threatening gesture</li>
                <li>Modification of any approved weapon so that it no longer meets the weapons policy</li>
            </ul>
            <p><h3 id="emergencies">Emergencies and First Aid</h3></p>
            <p>
                CPAC tries its best to keep its attendees and staff safe.
                However, accidents do happen and we try our best to be prepared for the worst.
                If you are hurt or injured in any way, are being harassed or stalked, or otherwise do not feel safe for any reason, contact the nearest staff member.
                <strong>In case of an emergency, call the police first, then find a staff member. If possible, it is recommended to call local police directly at (201) 216-3911 instead of 911.</strong>
            </p>
            <p>
                By attending CPAC, you grant the volunteers, employees, officers, representatives, and agents of CPAC and its medical services vendors,
                the Stevens Institute of Technology, and the Stevens and/or Hoboken Police,
                herein this section referred to generally as “CPAC and its parents”,
                your implicit consent to administer first aid and medical assistance as allowed by law, and to authorize medical treatment in case of an emergency.
                In addition, you waive, release, and forever discharge CPAC and its parents from any and all liability, damage, and injury arising from participating in CPAC and its activities.
            </p>
            <hr> {# ============================================================ #}
            <p><h2 id="photography">Cameras and Photography</h2></p>
            <p>
                Many attendees participate by cosplaying as familiar characters.
                While many enjoy having their picture taken, <em>always ask permission first</em>.
                <strong>This also includes guests and panelists</strong>; even famous voice actors have a right to privacy.
            </p>
            <p>
                The use of cameras or video cameras may be restricted or prohibited at some events,
                including inside Artist’s Alley and Dealer’s Room, all video programming rooms, and some main events.
                These areas will be marked as such. Please mind the posted notices.
            </p>
            <p>
                All individuals at CPAC grant the Stevens Anime Club and its agents and licensees
                the right to photograph, film, and record their appearance, voices, performances, poses, and any other reproduction of physical likenesses,
                and to use the resulting photographs, recordings, and videos for promotional and archival purposes,
                while also relinquishing any claim, action, or demand on the use thereof.
                The only exception to this is for contracted guests/talent, identified by the Guest ribbon on their badge,
                who have the right to review the aforementioned media and reject its usage before it is published.
            </p>
            <hr> {# ============================================================ #}
            <p><h2 id="autographs">Autographing Sessions</h2></p>
            <p>
                CPAC occasionally hosts official autographing sessions for some of our guests.
                We ask that attendees be polite and courteous to guests, and to wait in line patiently when participating in an autographing session.
            </p>
            <p>Some quick policies on our sessions:</p>
            <ul>
                <li>
                    Each individual may only have <strong>two things signed at a time</strong>.
                    Also please try not to monopolize a guest’s time if others are waiting.
                    CPAC does not guarantee all attendees will receive an autograph, so it is important to let the line proceed as quickly as possible.
                </li>
                <li>
                    Autographing sessions are free, and guests will be happy to sign your program guide and officially licensed products the guest has participated in,
                    as well as handmade or personal items at their discretion.
                    Guests may also offer merchandise for autographing that you may purchase during the session.
                </li>
                <li>
                    Do not ask a guest to sign bootleg or unlicensed merchandise.
                    This is disrespectful, and will not be tolerated.
                    Both CPAC staff and the guest have the right to deny autographing for a specific item.
                </li>
                <li>Photographs will be at the guests discretion, as described above.</li>
            </ul>
            <p>Remember that all attendees seeking an autograph must wait in line, and skipping the line or holding a spot for another person is not allowed, and will result in removal from the session.</p>
            <hr> {# ============================================================ #}
            <p><h2 id="gaming">Gaming Rooms</h2></p>
            <p><h3 id="video">Video Gaming</h3></p>
            <p>The video gaming room has a number of rules in order to ensure smooth operation of tournaments and a fun time for everybody.</p>
            <ul>
                <li>The game schedule depends on interest levels for games and the amount of players waiting for a console.</li>
                <li>Posted game schedules are subject to change based on system performance connectivity (for multiplayer situations), and other technical difficulties beyond the control of the staff.</li>
                <li>Do not damage or steal the equipment.</li>
                <li>There is a “No Sore Loser” policy in effect. If someone pwns you, don’t get angry or you will be asked to leave</li>
                <li>Please be considerate to others waiting to use the consoles. If there are people waiting to play, finish a round or two and then move to the back of the line or find a different game. Don’t hog the systems!</li>
                <li>We have several different games available for many of our consoles. If a game is not currently being played, and you would like to request to switch to a different game that we own, please ask a Video Gaming room staffer.</li>
                <li>Additionally, we have some imported Japanese games. If you can’t figure out how to navigate the menu and start a game, ask a Video Gaming room staffer for assistance.</li>
            </ul>
            <p><h3 id="cardboard">Card and Board Gaming</h3></p>
            <p>The card and board gaming room has a number of rules in order to ensure smooth operation of tournaments and a fun time for everybody.</p>
            <ul>
                <li>No selling of personal cards and/or other gaming paraphernalia on CPAC premises.</li>
                <li>Please remember: it’s just a game.</li>
                <li>If there is a dispute concerning game rules, please ask a staffer for assistance.</li>
                <li>All games are available to attendees, uness already being used by another person.</li>
                <li>Attendees are allowed only one game at a time in order to allow other people to play.</li>
                <li>While we are all here to have fun, please be aware of your surroundings.</li>
                <li>A staffer has the right to take away a game from you if your actions are deemed inappropriate or hostile to another attendee.</li>
                <li>Cards in the Sandbox Magic and Yu-Gi-Oh! Games are not allowed to be taken outside of the Card and Board Gaming area.</li>
            </ul>
            <hr> {# ============================================================ #}
            <p><h2 id="artistsdealers">Artist’s Alley and Dealer’s Room</h2></p>
            <p><h3 id="table">Table Policy</h3></p>
            <p>
                Artist’s Alley and Dealer’s Room tables must be staffed by the individual that purchased the table, or one of his/her staff or designee, at all times during the convention.
                No table may be left unmanned or empty.
                Furthermore, only individuals with a ribbon on their badge indicating they are an Artist or Dealer may staff a table.
                Failure to have staff at a table may result in the table being surrendered. In addition, tables are non-transferrable.
            </p>
            <p><h3 id="prohibited">Prohibited Items</h3></p>
            <p>
                In order to comply with local laws and ordinances, as well as Institute policy, certain items may not be sold in the Artist’s Alley or Dealer’s Room under any circumstances.
                If a prohibited item is found, the dealer will be asked to remove that item and may (usually only after multiple incidents), at the discretion of the respective department head and/or the convention chair or vice-chair, be ejected from the convention.
            </p>
            <p>A product is prohibited from sale if it:</p>
            <ul>
                <li>violates the weapons policy</li>
                <li>is protected by copyright, trademark, and/or patent law, and you do not have a license from the appropriate author or agency to produce, display, and sell such materials</li>
                <li>requires a prescription, such as decorative contact lenses</li>
                <li>is sexually explicit, extremely graphically violent, or otherwise unsuitable for children</li>
                <li>is, in the state of New Jersey, illegal to possess or is illegal to sell to individuals under the age of 18. In other words, if you cannot sell it to a child, you cannot sell it at all at CPAC.</li>
            </ul>
            <p><h3 id="tax">Collection of Sales Tax</h3></p>
            <p>
                All businesses must pay New Jersey <strong>sales and use tax</strong> as required by law.
                Vendors who do not already have a New Jersey Certificate of Authority should file for one using the <strong>NJ-REG form</strong>, which must be submitted to New Jersey at least fifteen days prior to the convention.
            </p>
            <hr> {# ============================================================ #}
            <p><h2 id="press">Press</h2></p>
            <p>Press attendees are members of the press that have requested, been approved for, and received badges labeled press via CPAC’s Publicity department.</p>
            <p>
                Any attendee, not just press, may conduct ad-hoc interviews with general attendees, artists, and dealers.
                However, be respectful and do not harass individuals who wish not to be interviewed.</p>
            <p>
                Only press attendees may request official interviews with CPAC guests. All requests must be made through the publicity department.
                Interviews will be scheduled and held at the discretion of the CPAC Guest and Industry Relations department head, as well as the guests themselves.
                Interviews will be arranged as availability allows, and press will be contacted when such arrangements are made.
            </p>
            <p>
                All press attendees must behave professionally when acting in an official capacity.
                This includes, but is not limited to, arriving prepared and early to scheduled interviews, respecting the guests and the instructions of any CPAC staff and moderators (especially members of the Guest and Industry Relations and Publicity departments).
                Even press attendees must obey the photography policy above, and avoid taking photographs in designated no-photography zones.
            </p>
        </div>
        <div class="col-md-3">
            <nav class="hidden-sm hidden-xs sidebar-nav" data-spy="affix" data-offset-top="210" data-offset-bottom="0">
                <ul id="sidebar" class="nav nav-stacked">
                    <li><a href="#general">General Policies</a></li>
                    <li>
                        <a href="#safety">Staying Safe</a>
                        <ul class="nav nav-stacked">
                            <li><a href="#disruptive">Disruptive Behavior</a></li>
                            <li><a href="#children">Children and Groups</a></li>
                            <li><a href="#weapons">Weapons Policy</a></li>
                            <li><a href="#emergencies">Emergencies and First Aid</a></li>
                        </ul>
                    </li>
                    <li><a href="#photography">Cameras and Photography</a></li>
                    <li><a href="#autographs">Autographing Sessions</a></li>
                    <li>
                        <a href="#gaming">Gaming Rooms</a>
                        <ul class="nav nav-stacked">
                            <li><a href="#video">Video Gaming</a></li>
                            <li><a href="#cardboard">Card and Board Gaming</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#artistsdealers">Artist’s Alley and Dealer’s Room</a>
                        <ul class="nav nav-stacked">
                            <li><a href="#table">Table Policy</a></li>
                            <li><a href="#prohibited">Prohibited Items</a></li>
                            <li><a href="#tax">Collection of Sales Tax</a></li>
                        </ul>
                    </li>
                    <li><a href="#press">Press</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
