{% extends "base.html.twig" %}

{% block title %}Not Found{% endblock %}
{% block description %}404 Page{% endblock %}

{% block carousel %}
<div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
{% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
<h1>Not Found!</h1>
<p>
	Unfortunately, we could not find the page you were looking for. If you clicked on a link on our website to get here,
	shoot us an email at <a href="mailto:webmaster@castlepointanime.com">webmaster@castlepointanime.com</a> so we can
	fix it. Thanks!
</p>
{% endblock %}
