---
question: Do artists, dealers, and panelists have to follow the rules?
section: Exhibitors
---
<p class="text-justify text-indent">
    This may go without saying, but all exhibitors must follow the same rules and policies as
    attendees (even staff follow these policies). This means complying with our weapons and
    copyright policies. See the <a href="/info/policies.html">policies page</a> for more details.
</p>
