---
question: Where can I park my car for the convention?
section: Getting to CPAC
---
<p class="text-justify text-indent">
    Street parking is limited to residents of Hoboken, but there are a number of municipal parking
    garages you can use, as well as park-and-ride options. We recommend using public transit
    whenever possible. See our <a href="/info/directions.html">directions page</a> for more information.
</p>
