---
question: What payment methods are accepted for purchasing badges?
section: Buying Tickets for CPAC
---
<dl>
	<dt>Online Pre-Registration (more than three weeks before)</dt>
	<dd class="text-justify text-indent">
		All pre-registration is done online through EventBrite, where all major credit cards are accepted. In addition,
		you can click "Show other payment options" to pay by check or money order. <em>Cash will not be accepted for
		pre-registration tickets.</em> Note that we <em>must</em> receive your check or money order at least three weeks
		before the convention. (If your organization requires a purchase order / invoice process, see the other FAQ on
		that topic.)
	</dd>
	<dt>Online Pre-Registration (less than three weeks before)</dt>
	<dd class="text-justify text-indent">
		Up until pre-registration closes, you can always purchase tickets using any major credit card. However, when it
		is three weeks before the con or earlier, we can no longer accept payments by personal check or money order.
	</dd>
	<dt>At-the-door Registration</dt>
	<dd class="text-justify text-indent">
		When buying a badge at the door, you can pay by cash, money order, or with any major credit card. Personal
		checks will not be accepted at the door.
	</dd>
</dl>
