---
question: How can I purchase a badge?
section: Buying Tickets for CPAC
---
<p class="text-justify text-indent">
    Badges can be purchased <a href="https://cpac2016.eventbrite.com">online with will-call</a> or at the door.
</p>
