---
question: My school / club / company requires using a purchase order. How can I buy my badges?
section: Buying Tickets for CPAC
---
<p class="text-justify text-indent">
    CPAC supports paying for badges via check or money order if your organization requires doing so
    through a purchase order and invoice process. To pay by check or money order, follow these
    instructions:
</p>
<ul>
    <li>
        First, go to <a href="https://cpac2016.eventbrite.com">EventBrite for online registration</a>. Pick the number
        of tickets you want, and then click on "Show other payment options" under the Register button. Go through the
        registration process and click either "Send Invoice".
    </li>
    <li>
        Fill out a purchase order form (you can use <a href="/img/CPAC-PO.pdf">our template</a> or make your own)
        with the number of tickets and the names of the attendees. <strong>Make sure to include the EventBrite ticket
        number on the form somewhere.</strong>
    </li>
    <li>
        Mail the form to the following address:<br><br>
        <address style="margin-left:50px;">
            Stevens Anime Club<br>
            1 Castle Point Terrace<br>
            Howe Building, Floor 10<br>
            Hoboken, NJ. 07030
        </address>
    </li>
    <li>
        We will process your purchase order and send an invoice to the address listed on the purchase order.
    </li>
    <li>
        Within thirty (30) days, or three weeks before the convention, whichever is earlier, mail us a check or money
        order made out to "Stevens Anime Club" for the amount on the invoice.
        <b>Put your invoice number and EventBrite ticket number in the check / money order memo.</b>
    </li>
</ul>
