.banner {
    height: 248px;

    background-image: url("../img/carousel_overhead_sm.jpg");
    background-position: center center;
    background-size: cover;
}

.carousel-replace {
    position: relative;

    height: 248px;

    color: white;
    background-color: black;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.carousel-replace .carousel-background {
    position: absolute;
    top: 0;

    width: 100%;

    background-image: url("../img/carousel_overhead.jpg");
}

.carousel-replace .carousel-caption {
    padding-top: 115px;
}

.carousel-replace h2 {
    font-size: 1.6em;
    font-weight: 800;

    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
}

.carousel-background {
    height: 100%;

    background-position: center center;
    background-size: cover;

    -webkit-filter: blur(2px) opacity(70%);
            filter: blur(2px) opacity(70%);
}

.carousel-caption {
    font-size: 1.6em;

    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.carousel-caption h2 {
    font-size: 1.6em;
    font-weight: 800;

    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
}

.carousel-caption .carousel-readmore {
    font-size: .7em;

    cursor: pointer;
}

.carousel-inner .item {
    background-color: black;
}

@media (min-width: 768px) {
    .carousel-inner .item {
        height: 300px;
    }

    .carousel-caption {
        margin-bottom: 50px;
    }

    .carousel .carousel-indicators {
        margin-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .carousel-inner .item {
        height: 450px;
    }

    .carousel-caption {
        margin-bottom: 125px;
    }

    .carousel .carousel-indicators {
        margin-bottom: 125px;
    }
}

@media (min-width: 1200px) {
    .carousel-inner .item {
        height: 600px;
    }

    .carousel-caption {
        margin-bottom: 200px;
    }

    .carousel .carousel-indicators {
        margin-bottom: 200px;
    }
}
