
/* ==================== ISOTOPE BASE STYLES ==================== */
.isotope-container {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
.isotope-container > .isotope-item {
    border-radius: 5px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .5);
    position: relative;
    margin-bottom: 10px;
}
.isotope-container > .isotope-item > h2 {
    font-weight: bold;
}
.isotope-container > .isotope-item > div.bottom > div.title > a {
    text-decoration: none;

    color: white;
}
div.readmore {
    font-size: 12pt;

    text-align: right;

    text-shadow: 2px 2px 1px black;
}
div.readmore > a {
    text-decoration: none;

    color: rgba(180, 180, 180, 1.0);
}
div.readmore > a:hover {
    text-decoration: none;

    color: rgba(210, 210, 210, 1.0);
}
/* ==================== ISOTOPE SM ==================== */
.isotope-container > .isotope-item.sm {
    width: 270px;
    height: 200px;

    background-position: center center;
    background-size: cover;
}
.isotope-container > .isotope-item.sm > div.bottom {
    width: 270px;
    height: 200px;
    padding: 10px;

    color: #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
}
.isotope-container > .isotope-item.sm > div.bottom > div.title {
    font-size: 18pt;
    font-weight: 600;

    text-shadow: 2px 2px 1px black;
}
.isotope-container > .isotope-item.sm > div.bottom > div.content {
    height: 125px;
    overflow: hidden;

    text-indent: 1em;
}
/* ==================== ISOTOPE MD ==================== */
.isotope-container > .isotope-item.md {
    width: 270px;
    height: 430px;

    background-position: center center;
    background-size: cover;
}
.isotope-container > .isotope-item.md > div.bottom {
    position: absolute;
    top: 250px;
    left: 0;

    width: 270px;
    height: 180px;
    padding: 10px;

    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
}
.isotope-container > .isotope-item.md > div.bottom > div.title {
    font-size: 18pt;
    font-weight: 600;

    text-shadow: 2px 2px 1px black;
}
.isotope-container > .isotope-item.md > div.bottom > div.content {
    height: 105px;
    overflow: hidden;

    text-indent: 1em;
}
@media (max-width: 590px) {
    .isotope-container > .isotope-item.md {
        height: 400px;
    }
    .isotope-container > .isotope-item.md > div.bottom {
        top: 200px;
        height: 200px;
    }
}
/* ==================== ISOTOPE LG ==================== */
.isotope-container > .isotope-item.lg {
    width: 560px;
    height: 430px;

    background-position: center center;
    background-size: cover;
}
.isotope-container > .isotope-item.lg > div.bottom {
    position: absolute;
    top: 250px;
    left: 0;

    width: 560px;
    height: 180px;
    padding: 10px;

    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
}
.isotope-container > .isotope-item.lg > div.bottom > div.title {
    font-size: 18pt;
    font-weight: 600;

    text-shadow: 2px 2px 1px black;
}
.isotope-container > .isotope-item.lg > div.bottom > div.content {
    height: 105px;
    overflow: hidden;

    text-indent: 1em;
}
@media (max-width: 768px) {
    .isotope-container > .isotope-item.lg {
        width: 270px;
        height: 400px;
    }
    .isotope-container > .isotope-item.lg > div.bottom {
        width: 270px;
        top: 200px;
        height: 200px;
    }
}
