.modal-content header.modal-headerimage {
    width: 100%;
    min-height: 174px;

    content: " ";

    border-bottom: 1px solid #e5e5e5;
}

.modal .close {
    margin-top: 4px;
}

.modal-footer {
    height: 58px;
    padding: 13px;
}

.modal-body {
    padding: 20px;
}
