.navbar-brand {
    font-size: 1.4em;
}

@media (min-width: 768px) {
    .navbar {
        padding-right: 92px;
        padding-left: 92px;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;

        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar.transparent {
        z-index: 10;

        transition: opacity .4s;

        opacity: .6;
        border-color: transparent;
    }

    .navbar.transparent:hover {
        opacity: 1.0;
    }

    .navbar.transparent li:hover {
        border-color: transparent;
        background: transparent;
        background-color: transparent;
    }
}

.registration a {
    background-color: #d21e1e;
}

.dropdown-menu li.active a {
    background-color: #999;
}

.dropdown-menu li:hover a,
.dropdown-menu li.active:hover a {
    background-color: #d21e1e;
}
