/* ==================== HISTORY */

.staff-entry img {
    width: 100%;
    margin-bottom: 15px;
}

/* ==================== FAQS */

#faqAccordion {
    margin-top: 20px;
    margin-bottom: 0;
}

#faqAccordion .panel-heading {
    cursor: pointer;
}
