.affix {
    top: 62px;
}

/* sidebar */
.sidebar-nav {
    margin-top: 0;
}

/* all links */
.sidebar-nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: .8em;

    color: #888;
    border-left: 2px solid transparent;
}

/* nested links */
.sidebar-nav .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;

    font-size: .8em;
}

/* active & hover links */
.sidebar-nav .nav > .active > a,
.sidebar-nav .nav > li > a:hover,
.sidebar-nav .nav > li > a:focus {
    text-decoration: none;

    color: #d21e1e;
    border-left-color: #d21e1e;
    background-color: transparent;
}
/* all active links */
.sidebar-nav .nav > .active > a,
.sidebar-nav .nav > .active:hover > a {
    font-weight: 700;
}
/* nested active links */
.sidebar-nav .nav .nav > .active > a,
.sidebar-nav .nav .nav > .active:hover > a {
    font-weight: 500;
}

/* hide inactive nested list */
.sidebar-nav .nav ul.nav {
    display: none;
}
/* show active nested list */
.sidebar-nav .nav > .active > ul.nav {
    display: block;
}
