body {
    overflow-y: scroll;

    background-color: #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

iframe {
    width: 100%;
    min-height: 700px;
}

.truncate {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-indent {
    text-indent: 40px;
}

.negative-margin {
    margin-bottom: -52px;
}
