---
question: Is there any cosplay that is not allowed at CPAC?
section: Cosplay and Weapons
---
<p class="text-justify text-indent">
    Yes. CPAC has a very strict weapons policy, implemented for the safety of both our attendees and
    the college students living on campus. See <a href="/info/policies.html">our policies</a> for full details.
</p>
