<div class="row footer-col text-center">
	<div class="container">
		<div class="col-xs-4">
			<h3>Social Media</h3>
			<p>
				<a href="https://www.facebook.com/castlepointanime"><i class="fa fa-3x fa-facebook-square"></i></a>
				<a href="https://twitter.com/CastlePointCon"><i class="fa fa-3x fa-twitter-square"></i></a>
				<a href="https://github.com/castlepointanime"><i class="fa fa-3x fa-github-square"></i></a>
			</p>
		</div>
		<div class="col-xs-4">
			<div style="margin-left:auto; margin-right:auto;">
				<h3>Contact</h3>
				<address>
					<strong>Castle Point Anime Convention</strong> c/o Jane Gilbarty<br>
					1 Castle Point Terrace, Howe Building Floor 10<br>
					Hoboken, NJ 07030-5904<br>
					<a href="mailto:info@castlepointanime.com">info@castlepointanime.com</a>
				</address>
			</div>
		</div>
		<div class="col-xs-4">
			<h3>License</h3>
			<p>
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
					<img title="This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License."
						alt="Creative Commons License"
						width="88" height="31"
						src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
				</a>
			</p>
			<p>
				Copyright &copy; 2015, Castle Point Anime Convention
				<br />
				Design by Steven Harrigan
			</p>
		</div>
	</div>
</div>
