<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- ==================== Favicon ==================== -->
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<!-- ==================== CSS ==================== -->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      integrity="sha384-yNuQMX46Gcak2eQsUzmBYgJ3eBeWYNKhnjyiBqLd1vvtE9kuMtgw6bjwN8J0JauQ"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css"
      integrity="sha384-ZHyWTwrvwk0KaAet1S7IK1efAI2xX2yZGFy8P6WHJIdSWG28o35swKu1lqOxSVSB"
      crossorigin="anonymous">
{% stylesheets "css/*" %}
<link href="/{{ asset_url }}" rel="stylesheet">
{% endstylesheets %}
<!-- ==================== JS ==================== -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"
        integrity="sha384-E7gp+UYBLS2XewcxoJbfi0UpGMHSvt9XyI9bH4YIw5GDGW8AlC+2J7bVBBlMFC6p"
        crossorigin="anonymous"
        defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js"
        integrity="sha384-92WFt6Fv/suNdsE5nbYgshPCBxYI4qK6Hwbe0LZfJIF2BjJmHZejg2zYnFPBqNvn"
        crossorigin="anonymous"
        defer></script>
{% javascripts
	"vendor/isotope/dist/isotope.pkgd.js"
	"vendor/isotope-packery/packery-mode.pkgd.js"
	"js/packery-mode.fixed-width.js"
	"vendor/jquery.autoellipsis/src/jquery.autoellipsis.js"
	"js/scripts.js"
%}
<script src="/{{ asset_url }}" defer></script>
{% endjavascripts %}

