<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-secondary">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="collapse navbar-collapse" id="navbar-secondary" style="margin-right:-15px;">
    <form class="nav navbar-form navbar-right" role="mailing-list" target="_blank" method="post" action="//castlepointanime.us8.list-manage.com/subscribe/post?u=4ca1d0d2326f625c74201d035&id=d90064e9fb">
        <div class="form-group">
            <label for="email" style="color:rgba(255, 255, 255, 0.5);">Subscribe to our mailing list:</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address">
        </div>
        <button type="submit" class="btn btn-inverse">Subscribe</button>
    </form>
</div>