<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-primary">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <span class="hidden-xs hidden-sm"><strong>C&#12354;stle Point</strong> Anime Convention</span>
            <span class="hidden-md hidden-lg"><strong>CP&#12354;C</strong></span>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-primary">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Applications <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% for application in data.applications %}
                        {% if application.data.status == "not-open" %}
                            {% set classes = "text-muted fa-minus-circle" %}
                            {% set title = "Not Opened Yet" %}
                        {% elseif application.data.status == "open" %}
                            {% set classes = "text-success fa-check-circle" %}
                            {% set title = "Open" %}
                        {% elseif application.data.status == "closed" %}
                            {% set classes = "text-danger fa-times-circle" %}
                            {% set title = "Closed" %}
                        {% endif %}
                        <li role="menuitem">
                            <a href="{{ application.data.link }}">
                                <i class="fa fa-fw {{ classes }}" title="{{ title }}"></i> {{ application.data.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Information <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li role="menuitem"><a href="/info/contact.html">Contact Us</a></li>
                    <li role="menuitem"><a href="/info/directions.html">Directions</a></li>
                    <li role="menuitem"><a href="/info/faq.html">FAQ</a></li>
                    <li role="menuitem"><a href="/info/policies.html">Policies</a></li>
                    <li role="menuitem"><a href="/info/history.html">Staff and History</a></li>
                </ul>
            </li>
            <!--<li><a href="#">Schedule</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="registration"><a href="https://cpac2016.eventbrite.com">Register! <i class="fa fa-caret-right"></i></a></li>
        </ul>
    </div>
</nav>
