{% extends "base.html.twig" %}

{% block title %}Artists' Alley Application{% endblock %}
{% block description %}Application for Artists' Alley tables at the Castle Point Anime Convention{% endblock %}

{% block carousel %}
<div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
{% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
<iframe src="https://docs.google.com/forms/d/1xKCpQK--kbgQMRNIkFWWDVqr-r10EGg0mgFMzG6vCA0/viewform?embedded=true"
        frameborder="0" marginheight="0" marginwidth="0">
	Loading...
</iframe>
{% endblock %}
