{% extends "base.html.twig" %}

{% block title %}Cosplay Chess Application{% endblock %}
{% block description %}Application for cosplay chess at the Castle Point Anime Convention{% endblock %}

{% block carousel %}
<div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
{% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
<iframe src="https://docs.google.com/forms/d/1ZrdMh88CdPul2jMfjwDuvfDo_5FMW_HUUfWYQiK-DY4/viewform?embedded=true"
        frameborder="0" marginheight="0" marginwidth="0">
	Loading...
</iframe>
{% endblock %}
