{% extends "base.html.twig" %}

{% block title %}Cosplay Contest Application{% endblock %}
{% block description %}Application for the cosplay contest at the Castle Point Anime Convention{% endblock %}

{% block carousel %}
<div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
{% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
<iframe src="https://docs.google.com/forms/d/1rPOFbJ703TlSl9JiFZwkoxJu6fA1gQzdjLcI6w43CJ8/viewform?embedded=true"
        frameborder="0" marginheight="0" marginwidth="0">
	Loading...
</iframe>
{% endblock %}
