{% extends "base.html.twig" %}

{% block title %}Dealers' Room Application{% endblock %}
{% block description %}Application for Dealers' Room tables at the Castle Point Anime Convention{% endblock %}

{% block carousel %}
<div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
{% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
<iframe src="https://docs.google.com/forms/d/10jb_tP7w3ZUgnfgb558HJm0hITfoa1K_z9qFYuikBig/viewform?embedded=true"
        frameborder="0" marginheight="0" marginwidth="0">
	Loading...
</iframe>
{% endblock %}
