{% extends "base.html.twig" %}

{% block title %}Panels and Workshops Application{% endblock %}
{% block description %}Application for panelists and workshops at the Castle Point Anime Convention{% endblock %}

{% block carousel %}
<div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
{% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
<iframe src="https://docs.google.com/forms/d/1kXjXE8HCEErUSL2jRKu-JNjRfktGLm9qq84O3PeN47o/viewform?embedded=true"
        frameborder="0" marginheight="0" marginwidth="0">
	Loading...
</iframe>
{% endblock %}
