{% extends "base.html.twig" %}

{% block title %}Press Application{% endblock %}
{% block description %}Application for press passes at the Castle Point Anime Convention{% endblock %}

{% block carousel %}
<div class="banner negative-margin"></div>
{% endblock %}

{% block second_nav %}
{% include "includes/mailinglist.html.twig" %}
{% endblock %}

{% block content %}
<iframe src="https://docs.google.com/forms/d/1dzaLwhRZIzH4QpyKI18nZHzTDJw66haeDls2UEDzjqU/viewform?embedded=true"
        frameborder="0" marginheight="0" marginwidth="0">
	Loading...
</iframe>
{% endblock %}
