<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/head.html.twig" %}
        <!-- ==================== Site Info ==================== -->
        <title>Castle Point Anime Convention: {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
    </head>
    <body>
        {% include "includes/nav.html.twig" %}

        {% block carousel %}{% endblock %}

        <nav class="navbar navbar-default navbar-secondary transparent">
            {% block second_nav %}{% endblock %}
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <footer class="container-fluid">
            {% include "includes/footer.html.twig" %}
        </footer>
    </body>
</html>
