---
title: CPAC "Preview Day" on Saturday
card_image: img/posts/day2_card.jpg
carousel_image: img/posts/day2_carousel.jpg
header_image: img/posts/day2_header.jpg
featured: true
category: none
size: lg
---
<p><strong>Don't panic! This is <em>not</em> a second day...</strong> CPAC has gotten a lot of feedback about being a
	Sunday-only con, and to be honest, <em>we like being on Sunday</em>.</p>

<p>Because of that, we are keeping Sunday as our main day: the day where all the good panels and events will happen.
	<strong>However!</strong> There are many cosplayers who want a second day to show off their cosplay, or just
	attendees that want another day to hang around. Because of that we are implementing a
	<strong>Saturday preview day</strong>.</p>

<p>On Saturday, <em>only</em> the following programming will be available:</p>
<ul>
	<li>Registration (of course)</li>
	<li>Video Gaming, possibly with tournaments</li>
	<li>Card and Board Gaming</li>
	<li>Video Programming</li>
	<li>Manga Library</li>
	<li>Some other special events, probably cosplay-related, to be determined</li>
</ul>

<p>On Saturday the convention will be open starting at 2pm. <strong>Attendance for Saturday is included in the regular
		badge and will not cost extra.</strong></p>
