---
title: CPAC 2016 on April 24th
card_image: img/posts/date_card.jpg
carousel_image: img/posts/date_carousel.jpg
header_image: img/posts/date_header.jpg
featured: true
category: none
size: lg
---
<p><strong>The Stevens Anime Club is proud the present the ninth annual Castle Point Anime Convention, which will take
		place on April 23rd and April 24th this year.</strong></p>
<p>As we approach our ten-year anniversary, we are hoping to make CPAC better than ever before. While we are still under
	many of the restrictions of being on a college campus, we are continuing the push to provide more fun activities, as
	well as more space to do them in. This year we will be moving some things around in order to mitigate issues with
	CPAC growing so big.</p>
<p>For the first time ever, <strong>CPAC will be making use of the Howe building</strong>, the very tall administrative
	building at the top of our campus. There are a few large rooms there, so big attractions like the Video Gaming room
	will be migrating in order to provide more space.</p>
<p>In addition, we are tentatively implementing a <strong><em>soft</em> attendance limit</strong>. What does "soft"
	mean? It means it will not be a hard and set limit. Previously, we have guaranteed to attendees that we will not close
	registration or run out of badges. Now, once the soft limit is reached, there will not longer be that guarantee. Our
	staff will continuously monitor how crowded the convention is, and cut off registration once we think there are too
	many people for us to handle.</p>
<p>The soft attendance limit for this year will be <em>4,700 people</em>. We are basing this on last year's attendance
	of 3,979 attendees (4,516 warm bodies) as well as the capacity of the new rooms we are getting.</p>
<p>We want to apologize in advance if we hit this limit. CPAC's goal is not to be the biggest or the most crowded con,
	but instead the friendliest and most fun con, especially because we want it to be as much fun for our staff as it is
	for everybody else.</p>
