---
title: Cosplay Chess
card_image: img/posts/cos_chess_card.jpg
carousel_image: img/posts/cos_chess_carousel.jpg
header_image: img/posts/cos_chess_header.jpg
category: cosplay
featured: true
size: md
---
<p>Chess is well over 1000 years old, and still competitively around the world to this day. What could possibly make
	this game better, you might ask?</p>
<p>The answer is simple: replace the pieces with cosplayers! Watch all your favorite anime characters battle it out
	for supremacy at the command of two mysterious generals.</p>
<p>If you wish to sign up to be a chess piece, you can do so on our
	<a href="forms/cosplay_chess.html">Cosplay Chess application form</a>.</p>
<p>Rules:</p>
<ul>
	<li>All fighting in Cosplay Chess is pretending and acting! No use of excessive force is allowed. No contact between
		players is preferred but very light contact will be permitted. Please be careful when using props!</li>
	<li>Participation in Cosplay Chess assumes all participants are fully aware of any risks involved. The Castle Point
		Anime Convention will not be held responsible if any injury is to occur during the event.</li>
	<li>Registration for Cosplay Chess is on a first come first serve basis! Anyone who registers after all player spots
		have been filled will be put on a waiting list. Those on a waiting list will replace players who do not show up
		for the event.</li>
	<li>The pieces to be played are traditional chess pieces (King, Queen, Rook, Bishop, Knight, Pawn). We will try to
		consider what pieces the player desires to be, but there is no guarantee on any specific position. Do not be
		deterred if you do not get your preferred spot; we attempt to make sure all pieces are used so everyone gets to
		participate.</li>
	<li>Make sure you are familiar with the rules for the convention, especially the weapons policy.</li>
	<li>Be a good sport and have fun!</li>
</ul>
