---
title: Manga Library
card_image: img/posts/manga_card.jpg
carousel_image: img/posts/manga_carousel.jpg
header_image: img/posts/manga_header.jpg
category: none
featured: false
size: md
---
<p>Conventions can be stressful. We get it. There are a lot of people in a relatively small area, and it can get quite
	loud. Sometimes you just want to go to a nice, quiet room and take a break from it all.</p>
<p>The Manga Library is the place for you. With hundreds of volumes on loan from the AnimeNEXT collection, there's
	something for everyone. Librarians will be on hand to answer any questions you may have.</p>
