---
title: Castle Point Pokémon League
card_image: img/posts/cppl_card.jpg
carousel_image: img/posts/cppl_carousel.jpg
header_image: img/posts/cppl_carousel.jpg
category: none
featured: true
size: md
---
<p>If being a Pokémon Master is your destiny, then Castle Point Pokémon League is the event for you! For the sixth year
	in a row, Gym Leaders stationed around the convention are awaiting your challenges. Defeat them, collect their
	badges, and earn your spot in our Grand Tournament!</p>
<p>For more information and news on CPPL, check out
	<a href="https://www.facebook.com/CastlePointPkmnLeague">our Facebook page</a>.</p>
