---
title: Cosplay Contest
card_image: img/posts/cos_contest_card.jpg
carousel_image: img/posts/cos_contest_carousel.jpg
header_image: img/posts/cos_contest_header.jpg
category: cosplay
featured: false
size: md
---
<p>You have spent countless hours in front of a sewing machine, been burned by hot glue guns, and scouted out every
	fabric and thrift store in town to get your cosplay just right. Now is your chance to show it off!</p>
<p>The CPAC Cosplay Contest is judged by guest cosplayers we invite to the convention. Winners get to take home prizes
	and glorious bragging rights.</p>
<p>Walk down the runway and flaunt your work to the CPAC cosplayer community! To register for the contest, please fill
	out our <a href="forms/cosplay_contest.html">Cosplay Contest application form</a>.</p>
<p>Rules:</p>
<ul>
	<li>The Castle Point Anime Convention is a family friendly event! Please keep performances clean and PG-13.</li>
	<li>Please refrain from putting on a skit during the contest. We will introduce your character and you may then
		walk out, show off your costume (being in character is more than welcome) and walk back.</li>
</ul>
