{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block description %}The Castle Point Anime Convention is an annual anime and manga convention in Hoboken, NJ.{% endblock %}

{% block carousel %}
    <div class="carousel-replace hidden-sm hidden-md hidden-lg text-center">
        <div class="carousel-background"></div>
        <div class="carousel-caption">
            <h2 class="truncate">CP&#12354;C 2016</h2>
            <p class="truncate">April 23rd (12PM to 10PM), April 24th (9AM to 10PM)</p>
        </div>
    </div>
    <div class="carousel negative-margin slide hidden-xs" id="carousel-primary" data-ride="carousel" data-interval="10000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-primary" data-slide-to="0" class="active"></li>
            {% set carouselIndex = 0 %}
            {% for post in data.posts|sort|reverse %}
                {% if post.data.featured is defined and post.data.featured %}
                    {% set carouselIndex = carouselIndex + 1 %}
                    <li data-target="#carousel-primary" data-slide-to="{{ carouselIndex }}"></li>
                {% endif %}
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" role="option">
                <div class="carousel-background" style="background-image:url('img/carousel_overhead.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class="truncate">CP&#12354;C 2016</h2>
                    <p class="truncate">April 23rd (2PM to 10PM), April 24th (9AM to 10PM)</p>
                </div>
            </div>
            {% for key, post in data.posts|sort|reverse %}
                {% set key = key|split('/')|last|replace({".": "_"}) %}
                {% if post.data.featured is defined and post.data.featured %}
                    <div class="item" role="option">
                        <div class="carousel-background" style="background-image:url('{{ post.data.carousel_image }}');"></div>
                        <div class="carousel-caption">
                            <h2 class="truncate">{{ post.data.title }}</h2>
                            <div class="truncate">{{ post.contents|striptags|split('---')|last }}</div>
                            <span class="carousel-readmore" href="#post-modal-{{ key }}" data-toggle="modal">
                                Read More <i class="fa fa-fw fa-arrow-circle-right"></i>
                            </span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-primary" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-primary" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}

{% block second_nav %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-secondary">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-secondary">
        <ul class="nav navbar-nav">
            <li><a id="isotope-all">All</a></li>
            <li><a id="isotope-industryGuests">Industry Guests</a></li>
            <li><a id="isotope-featuredPanels">Featured Panels</a></li>
            <li><a id="isotope-cosplay">Cosplay</a></li>
            <li><a id="isotope-musicalActs">Musical Acts</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="isotope-container">
        {% for key, post in data.posts|sort|reverse %}
            {% set key = key|split('/')|last|replace({".": "_"}) %}
            {% if post.data.size == 'lg' %}
                <div class="isotope-item {{ post.data.size }} {{ post.data.category }}" style="background-image:url('{{ post.data.card_image }}');">
                    <div class="bottom">
                        <div class="title truncate">
                            <a href="#post-modal-{{ key }}" data-toggle="modal">{{ post.data.title }}</a>
                        </div>
                        <div class="content text-justify clamp">{{ post.contents|striptags|split('---')|last }}</div>
                        <div class="readmore">
                            <a href="#post-modal-{{ key }}" data-toggle="modal">
                                Read More <i class="fa fa-fw fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="isotope-item {{ post.data.size }} {{ post.data.category }}" style="background-image:url('{{ post.data.card_image }}');">
                    <div class="bottom">
                        <div class="title truncate">
                            <a href="#post-modal-{{ key }}" data-toggle="modal">{{ post.data.title }}</a>
                        </div>
                        <div class="content text-justify clamp">{{ post.contents|striptags|split('---')|last }}</div>
                        <div class="readmore">
                            <a href="#post-modal-{{ key }}" data-toggle="modal">
                                Read More <i class="fa fa-fw fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- Modal -->
            <div class="modal fade" id="post-modal-{{ key }}" tabindex="-1" role="dialog" aria-labelledby="post-modal-{{ key }}-label">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="post-modal-{{ key }}-label">{{ post.data.title }}</h4>
                        </div>
                        <header class="modal-headerimage" style="background-image:url('{{ post.data.header_image }}');"></header>
                        <div class="modal-body">
                            {% include post.template %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
